/*
Fuente
*/

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");

:root {
  --color-negro: black;
  --color-blanco: #fff;
  --fuente-oleo: "Oleo Script", serif;
  --color-rojo: #c00000;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/assets/pizzafondo.png");
  background-size: cover;
  /* Ajusta la imagen para que cubra todo el fondo */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: center center;
  /* Centra la imagen en la pantalla */
  background-attachment: fixed;
  /* Hace que el fondo permanezca fijo al hacer scroll */
}

/*Header*/
.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__header__div {
  height: 100px;
  width: 50%;
  margin: 50px;
  overflow: hidden;
  background-color: var(--color-rojo);
  border-color: var(--color-negro);
  border: 5px solid;
  border-radius: 15px;
}

.container_header_titulo {
  color: var(--color-blanco);
  text-align: center;
  font-family: var(--fuente-oleo);
  font-size: 80px;
}

/*Main*/
.container__main {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container__section__izquierda {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2rem;
  border: 2px solid black;
}

.main__section__izquierda__slide {
  display: inline-block;
  animation: anima 40s linear infinite;
}

.container__main__section__imagen {
  width: 70%;
  height: 65vh;
  border-radius: 2rem;
}

@keyframes anima {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500%);
  }
}



.container__form__derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--color-negro);
  width: 600px;
  height: 60vh;
  border-radius: 25px;
  padding: 1rem;
}

.container__section__div {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container__section__titulo {
  text-align: center;
  color: var(--color-blanco);
  font-family: var(--fuente-oleo);
  font-size: 50px;
}

.container__section__parrafo {
  width: 15rem;
  text-align: left;
  white-space: pre;
  color: var(--color-blanco);
  font-family: var(--fuente-oleo);
  font-size: 40px;
}

.container__section__input {
  font-family: var(--fuente-oleo);
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  text-align: center;
  gap: 1rem;
  border-radius: 15px;
}

/*COMIENZA EL MAIN DOS*/
.container__main__dos {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_form_selection {
  font-family: var(--fuente-oleo);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-negro);
  width: 400px;
  border-radius: 15px;
  padding: 1rem;
}

.container__form__parrafo {
  color: var(--color-blanco);
  font-size: 50px;
}

.container__form__input {
  padding-left: 20px;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  font-size: 30px;
  font-family: var(--fuente-oleo);
}

/*Footer*/
.footer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.button_hacer_pedido {
  padding: 10px;
  font-family: var(--fuente-oleo);
  background: var(--color-rojo);
  font-size: 40px;
  color: aliceblue;
  border-radius: 10px;
  /* Bordes redondeados */
}